{% load static %}

<style>
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}</style>

<aside class="main-sidebar sidebar-dark-info elevation-4">


    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
           <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">

           </div>
            <div class="info">
                <a href="#" class="d-block">{{user.first_name}} {{user.last_name}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'home' as home %}
                    <a href="{{home}}" class="nav-link {% if home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Formal
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_seminar' as add_seminar %}
                            <a href="{{add_seminar}}"
                               class="nav-link  {% if add_seminar == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Formal

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'view_seminar' as view_seminar %}
                            {% url 'edit_course' course_id as edit_course %}
                            <a href="{{view_seminar}}"
                               class="nav-link  {% if edit_seminar == request.path or manage_course == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Formal

                                </p>
                            </a>
                        </li>


                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Competency Journal
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_workshop' as add_workshop %}
                            <a href="{{add_workshop}}"
                               class="nav-link  {% if add_workshop == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Competency

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'view_workshop' as view_workshop %}
                            {% url 'edit_subject' subject_id as edit_subject %}
                            <a href="{{view_workshop}}"
                               class="nav-link  {% if edit_subject == request.path or manage_subject == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Competency
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Education
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_skill' as add_skill %}
                            <a href="{{add_skill}}"
                               class="nav-link  {% if add_skill == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Education

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'view_skill' as view_skill %}
                            {% url 'edit_subject' subject_id as edit_subject %}
                            <a href="{{view_skill}}"
                               class="nav-link  {% if edit_subject == request.path or manage_subject == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Education

                                </p>
                            </a>
                        </li>

                    </ul>
                </li>



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>