{% load static %}
<aside class="main-sidebar sidebar-dark-info elevation-4">


    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.certificate}}" class="img-circle elevation-2" alt="User Image">
            </div>

            <div class="info">
                <a href="#" class="d-block">{{user}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'home' as home %}
                    <a href="{{home}}" class="nav-link {% if home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_view_profile' as admin_view_profile %}
                    <a href="{{admin_view_profile}}"
                       class="nav-link {% if admin_view_profile == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-address-card"></i>
                        <p>
                            Update Profile

                        </p>
                    </a>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                            Seminar
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_seminar' as add_seminar %}
                            <a href="{{add_seminar}}"
                               class="nav-link  {% if add_seminar == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Seminar

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'view_seminar' as view_seminar %}
                            {% url 'edit_course' course_id as edit_course %}
                            <a href="{{view_seminar}}"
                               class="nav-link  {% if edit_seminar == request.path or manage_course == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Seminar

                                </p>
                            </a>
                        </li>


                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Workshop
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_workshop' as add_workshop %}
                            <a href="{{add_workshop}}"
                               class="nav-link  {% if add_workshop == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Workshop

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'view_workshop' as view_workshop %}
                            {% url 'edit_subject' subject_id as edit_subject %}
                            <a href="{{view_workshop}}"
                               class="nav-link  {% if edit_subject == request.path or manage_subject == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Workshop

                                </p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Skill
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_skill' as add_skill %}
                            <a href="{{add_skill}}"
                               class="nav-link  {% if add_skill == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Skill

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'view_skill' as view_skill %}
                            {% url 'edit_subject' subject_id as edit_subject %}
                            <a href="{{view_skill}}"
                               class="nav-link  {% if edit_subject == request.path or manage_subject == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Skill

                                </p>
                            </a>
                        </li>

                    </ul>
                </li>



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>