{% extends 'base.html' %}
{% block title %}Add Skill{% endblock %}

{% block content %}


<div class="content ">

    <div class="card card-body mt-20">
        <div class="mb-3">
            <h4 class="d-inline">ADD SKILL</h4>

        </div>
         <div class="mb-3">
            <a href="{% url 'view_skill' %}" class="btn btn-sm btn-primary d-inline float-end">View </a>
        </div>
        <form class="card card-body" method="POST">
            {% csrf_token %}

            <h6 class="card-header bg-success"> Details</h6>
            <div class="card-body row g-3">

                <div class="col-12">
                    <label class="form-label col-form-label-sm">LEVEL</label>
                    <input type="text" class="form-control form-control-sm" name="title" >
                </div>

                <div class="col-12">
                    <label class="form-label col-form-label-sm">NAME OF SCHOOL</label>
                    <input type="text" class="form-control form-control-sm" name="conducted" >
                </div>

                <div class="col-12">
                    <label class="form-label col-form-label-sm">BASIC EDUCATION
                    /DEGREE/COURSE</label>
                    <input type="text" class="form-control form-control-sm" name="address" >
                </div>

                <div class="col-12">
                    <label class="form-label col-form-label-sm">Date started</label>
                    <input type="text" class="form-control form-control-sm" name="date_started" >
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">PERIOD OF ATTENDANCE</label>
                    <input type="text" class="form-control form-control-sm" name="date_ended" >
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">PERIOD OF ATTENDANCE</label>
                    <input type="text" class="form-control form-control-sm" name="time_duration" >
                </div>

                 <div class="col-12">
                    <label class="form-label col-form-label-sm">HIGHEST LEVEL/ UNIT EARNED </label>
                    <input type="text" class="form-control form-control-sm" value="{{skillItem.time_end}}"
                           name="time_end">
                </div>

                <div class="col-12">
                    <label class="form-label col-form-label-sm">YEAR GRADUATED</label>
                    <input type="text" class="form-control form-control-sm" value="{{skillItem.no_hours}}"
                           name="no_hours">
                </div>

                <div class="col-12">
                    <label  class="form-label col-form-label-sm">SCHOLARSHIP/ACADEMIC HONORS RECEIVED</label>
                    <input type="text" class="form-control form-control-sm"  name="skill_type" >

                </div>






            </div>
            <button type="submit" class="btn btn-primary btn-sm mt-2">Add Skill</button>
        </form>
    </div>
</div>

{% endblock %}