{% extends 'base.html' %}

{% block title %}Add Seminar{% endblock %}

{% block content %}


<div class="content ">

    <div class="card card-body mt-20">
        <div class="mb-3">


        </div>
        <div class="mb-3 align=left">
        <a href="{% url 'view_seminar' %}" class="align=left btn btn-sm btn-primary ">View Formal</a>
        </div>

        <form class="card card-body" method="POST">
            {% csrf_token %}

            <h6 class="card-header bg-success">Formal Details</h6>
            <div class="card-body row g-3">

                <div class="col-12">
                    <label class="form-label col-form-label-sm">Title</label>
                    <input type="text" class="form-control form-control-sm" name="title" required>
                </div>

                <div class="col-12">
                    <label class="form-label col-form-label-sm">coach or mentor by</label>
                    <input type="text" class="form-control form-control-sm" name="conducted" required>
                </div>

                <div class="col-12">
                    <label class="form-label col-form-label-sm">Learning Location</label>
                    <input type="text" class="form-control form-control-sm" name="address" required>
                </div>

                <div class="col-12">
                    <label class="form-label col-form-label-sm">Date started</label>
                    <input type="date" class="form-control form-control-sm" name="date_started" required>
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Date ended</label>
                    <input type="date" class="form-control form-control-sm" name="date_ended" required>
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Time Duration</label>
                    <input type="time" class="form-control form-control-sm" name="time_duration" required>
                </div>

                 <div class="col-12">
                    <label class="form-label col-form-label-sm">Time Ended</label>
                    <input type="time" class="form-control form-control-sm" value="{{seminarItem.time_end}}"
                           name="time_end">
                </div>

                 <div class="col-12">
                    <label class="form-label col-form-label-sm">Number of Hours</label>
                    <input type="number" class="form-control form-control-sm" value="{{seminarItem.no_hours}}"
                           name="no_hours">
                </div>

                <div class="col-8">
                    <label for="seminarOption" class="form-label col-form-label-sm"> Type</label>
                    <select id="seminarOption" type="text" class="form-select form-select-lg" name="seminar_type" required>
                        <option selected>Choose...</option>
                        <option>Basic</option>
                        <option>intermediate</option>
                        <option>Advance</option>
                        <option>Superior</option>
                    </select>
                </div>

                <div class="col-8">
                    <label for="seminarOption" class="form-label col-form-label-sm">Level</label>
                    <select id="seminarOption" type="text" class="form-select form-select-sm" name="level" required>
                        <option selected>Choose...</option>
                        <option>beginner</option>
                        <option>intermediate</option>
                        <option>Expert</option>
                    </select>
                </div>


            </div>
            <button type="submit" class="btn btn-primary btn-sm mt-2">Add Formal</button>
        </form>
    </div>
</div>

{% endblock %}