{% extends 'base.html' %}
{% load static %}


{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{seminars_count}}</h3>

                        <p>Formals</p>
                    </div>

                    <a href="{% url 'view_seminar' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{workshops_count}}</h3>

                        <p>Competency Journal</p>
                    </div>

                    <a href="{% url 'view_workshop' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->


              <!-- /.card-body -->
          </div>
          </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock content %}

