{% extends 'base.html' %}
{% block title %}View Skill{% endblock %}

{% load widget_tweaks %}

{% block content %}




<div class="content mt-3">
    <div class="card card-body mt-3">
        <h4 class="mb-3">LIST SKILLS</h4>
        {% for message in messages %}
        <p class="alert alert-success">{{message}}</p>
        {% endfor %}

        <div class="card card-body">
            <form method="GET">
                <h6 class="text-muted">Search for Title:</h6>
                <div class="row">
                    <div class="form-group col-4">
                        <h6>{{ skillFilter.form.title.label_tag }}</h6>
                        {% render_field skillFilter.form.title class="form-control form-control-sm" %}
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-primary mt-4 px-3 fw-bold" type="submit">
                            <i class="fa-solid fa-magnifying-glass me-1"></i>Search
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <div class="card card-body mt-2">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Address</th>
                    <th scope="col">Conducted by</th>
                    <th scope="col">Date Started</th>
                    <th scope="col">Date Ended</th>
                    <th scope="col">Time Duration</th>
                    <th scope="col">Skill Type</th>

                </tr>
                </thead>
                <tbody>
                {% for skill in skills%}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>

                    <td>{{skill.title}}</td>
                    <td>{{skill.address}}</td>
                    <td>{{skill.conducted}}</td>
                    <td>{{skill.date_started}}</td>
                    <td>{{skill.date_ended}}</td>
                    <td>{{skill.time_duration}}</td>
                    <td>{{skill.skill_type}}</td>
                    <td><a href="{% url 'edit_skill' skill.id %}" class="btn btn-primary btn-sm">View</a>
                        <a href="{% url 'delete_skill' skill.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}