{% extends 'base.html' %}
{% block title %}View Workshop{% endblock %}
{% load widget_tweaks %}

{% block content %}



<div class="content mt-3">
    <div class="card card-body mt-3">
        <h4 class="mb-3">LIST WORKSHOPS</h4>


        <div class="card card-body">
            <form method="GET">
                <h6 class="text-muted">Search for Title:</h6>
                <div class="row">
                    <div class="form-group col-4">
                        <h6>{{ workshopFilter.form.user.label_tag }}</h6>
                        {% render_field workshopFilter.form.title class="form-control form-control-sm" %}
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-primary mt-4 px-3 fw-bold" type="submit">
                            <i class="fa-solid fa-magnifying-glass me-1"></i>Search
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <div class="card card-body mt-2">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Address</th>
                    <th scope="col">Conducted by</th>
                    <th scope="col">Date Started</th>
                    <th scope="col">Date Ended</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Workshop Type</th>
                    <th scope="col">Level</th>
                </tr>
                </thead>
                <tbody>
                {% for workshop in workshops %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{workshop.title}}</td>
                    <td>{{workshop.address}}</td>
                    <td>{{workshop.conducted}}</td>
                    <td>{{workshop.date_started}}</td>
                    <td>{{workshop.date_ended}}</td>
                    <td>{{workshop.time_duration}}</td>
                    <td>{{workshop.seminar_type}}</td>
                    <td>{{workshop.level}}</td>
                    <td><a href="{% url 'edit_workshop' workshop.id %}" class="btn btn-info">Edit</a>
                        <a href="{% url 'delete_workshop' workshop.id %}" class="btn btn-danger"
                           onclick="return confirm('Are you sure about this ?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}