{% extends 'base.html' %}
{% block title %}View Skill{% endblock %}

{% load widget_tweaks %}

{% block content %}




<div class="content mt-3">
    <div class="card card-body mt-3">
        <h4 class="mb-3">EDUCATIONAL BACKGROUND</h4>



         <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered table-striped">
                <thead>
                <tr>

                    <th scope="col">LEVEL</th>
                    <th scope="col">NAME OF SCHOOL</th>
                    <th scope="col">BASIC EDUCATION DEGREE/COURSE</th>
                    <th scope="col">PERIOD OF ATTENDANCE</th>
                    <th scope="col">HIGHEST LEVEL UNIT EARNED</th>
                    <th scope="col">YEAR GRADUATE</th>
                    <th scope="col">SCHOLARSHIP ACADEMIC HONOR RECEIVED</th>

                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody>
                {% for skill in skills%}
                <tr>


                    <td>{{skill.title}}</td>
                    <td>{{skill.address}}</td>
                    <td>{{skill.conducted}}</td>
                    <td>{{skill.date_started}} - {{skill.date_ended}}</td>
                    <td>{{skill.time_duration}} </td>
                    <td>{{skill.time_end}}</td>
                    <td>{{skill.no_hours}} </td>
                    <td><a href="{% url 'edit_skill' skill.id %}" class="btn btn-info">Edit</a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}